form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 250px;
  background-color: #ffd7d7;
  padding: 20px;
  border: solid #fd2d01 4px;
  border-radius: 20px;
}

#formForm {
  display: flex;
  justify-content: center;
}

h2 {
  align-self: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #fd2d01;
}

input {
  align-self: center;
  width: 200px;
  height: 30px;
}

#bouttonAction {
  align-self: center;
  width: 200px;
  font-size: 20px;
  padding: 0 20px;
  background-color: #4e5166;
  color: white;
}
